<div class="row startPageDiv" ng-controller="aboutUsController">
    <h3 class="textCenterAlign animated rollIn">About Us</h3>
    <div class="row">
        <div class="col-sm-4 animated fadeInLeft">
            <img src="../AboutUS pics/momsispic.jpg" class="aboutUsPic boxShadowImg" />
        </div>
        <div class="col-sm-8 animated fadeInDown">
            <h5 class="textCenterAlign">Family Own Business</h5>
            <p>Ahumada Foto y Video has been in business for you over 17 years. Our goal is to ensure you will have peace of mind and have some keepsake of your special event. We specialize in Weddings and Quinceañeras. We travel and can cover your event. We are based in Riverside County and cover Inland Empire, LA County, Nothern California, and even Mexico. Our prices are industry best. Our quality outshines others. Give us the oppurtunity to show you our work and gain your trust.</p>

            <button type="submit" class="btn btn-info pull-right buttonRightPadding" ng-click="contactUs()">Contact US</button>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 animated fadeInLeft smallMarginTop">
            <img src="../AboutUS pics/jaimepic.jpg" class="aboutUsPic boxShadowImg" />
        </div>
        <div class="col-sm-4">
            <div class="animated fadeInUp">
                <p>We are close nit family. In the top Left, there is my youngest beautiful daughter, <strong>Jamie</strong>, then myself, <strong>Maria</strong>. Bottom-Left is my loving husband, <strong>Jaime</strong>, and last but not least is my beautiful daughter, <strong>Ashley</strong>, I aslo have two wonderful sons and a grand daughter who we love very much.</p>
            </div>
        </div>
        <div class="col-sm-4 animated fadeInRight ">
            <img src="../AboutUS pics/ashleypic.jpg" class="aboutUsPic  boxShadowImg" />
        </div>
    </div>
</div>