<div class="row startPageDiv">
    <div class="row">
        <div class="col-sm-6 animated fadeInLeft">
            <div class="panel panel-info">
                <div class="textCenterAlign panel-heading">
                    <h3>Package #1</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pictures</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100</td>
                                    <th>4x6</th>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <th>8x10</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <th>16x20</th>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Video</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 Dvd</td>
                                    <th>2 hours edited</th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="textCenterAlign">
                    <h5>Price</h5>
                    <h6>$895</h6>
                </div>
            </div>
        </div> <!--END OF FIRST DIV AT COL 6-->

        <div class="col-sm-6 animated fadeInRight">
            <div class="panel panel-info">
                <div class="textCenterAlign panel-heading">
                    <h3>Package #2</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pictures</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>200</td>
                                    <th scope="row">4x6</th>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <th scope="row">8x10</th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <th scope="row">16x20</th>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <th scope="row">8x10 Digital Album</th>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Video</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2 Dvds</td>
                                    <th scope="row">2 hours edited</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <th scope="row">Prevideo</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <th scope="row">SlideShow at Event</th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="textCenterAlign">
                    <h5>Price</h5>
                    <h6>$1295</h6>
                </div>
            </div>
        </div> <!--END OF SECOND DIV AT COL 6 -->
    </div> <!--END OF ROW INSIDE OF MAIN ROW-->
</div> <!--END OF MAIN ROW-->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 animated fadeInUp">
        <div class="panel panel-info">
            <div class="textCenterAlign panel-heading">
                <h3>Ultimate Package</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Pictures</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>200</td>
                                <th scope="row">4x6</th>
                            </tr>
                            <tr>
                                <td>10</td>
                                <th scope="row">8x10</th>
                            </tr>
                            <tr>
                                <td>5</td>
                                <th scope="row">11x14</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <th scope="row">16x20</th>

                            </tr>
                            <tr>
                                <td>1</td>
                                <th scope="row">8x10 Digital Album</th>

                            </tr>
                            <tr>
                                <td>1</td>
                                <th scope="row">11x14 Digital Album</th>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Video</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3 Dvds</td>
                                <th scope="row">2 hours edited</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <th scope="row">Prevideo</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <th scope="row">SlideShow at Event</th>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="textCenterAlign">
                <h5>Price</h5>
                <h6>$1895</h6>
            </div>            
        </div>
    </div> <!--END OF SECOND DIV AT COL 6-->
</div><!--END OF SECOND MAIN ROW-->
